*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --base-font: 'Arial', sans-serif;
    --dark-color: #000;
    --light-color: #fff;
    --emphasis-color: #ff570c;
}

body {
    font-family: var(--base-font);
}

.entrada,
.main-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);

}

.acceso {
    width: 75vw;
    padding-block: 1.5rem;
    background-color: var(--emphasis-color);
    color: var(--light-color);
    border-radius: 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}



.acceder,
.volver {
    width: 66vw;
    padding-block: 1rem;
    background-color: var(--emphasis-color);
    color: var(--light-color);
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.uno {
    margin-bottom: 5rem;
}

.view-main-container {
    width: 98%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-header h1 {
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
}

.view-table {
    width: 100%;
    overflow-x: auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.view-row {
    display: flex;
    width: fit-content;
    border: 2px solid var(--dark-color);
    border-top: none;
}

.view-row:first-child {
    border-top: 2px solid var(--dark-color);
}

.view-row:last-child .view-table-td.row-heading {
    border-bottom: none;
}

.view-table-td {
    width: 7rem;
    padding-block: 0.8rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid var(--dark-color);
}

.view-table-td:last-child {
    border-right: none;
}

.view-table-td.row-heading {
    width: 2.5rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid var(--light-color);
}